{% extends "admin/base.html" %}

{% block content %}
    <div >
        <form action="{{ url_for('add_tag') }}" method="post" name="add_tag">
            {{tagform.hidden_tag()}}

            <div >
                <label>tag name:</label>
                {{tagform.name(type="text",placeholder="name")}}
                {% for error in tagform.errors.name %}
                    <span style="color: red;">[{{ error }}]</span>
                {% endfor %}

            </div>



            <br>
            <div >
                <input type="submit" value="add tag" /><br>
                <span>OR</span><br>
                <a  href="{{ url_for('list_tag') }}">cancel</a>
            </div>

        </form>
    </div>

{% endblock %}