{% extends "admin/base.html" %}

{% block content %}

    <div >
        <div >
            <form action="{{ url_for('search_category') }}" method="post" name="searchcategory">
                <input type="text"  id="keyword" name="keyword"/>
                <a href="{{ url_for('add_category') }}">+ Add category</a>
            </form>


        </div>
    </div>

    <div>
        <table>
            <thead>
            <tr>
                <th >
                    name
                </th>
                <th >
                    <span >Description</span>
                </th>

            </tr>
            </thead>
            <tbody>
            {% for category in category.items %}
                <!-- row -->
                <tr >
                    <td>

                        <a href={{ url_for('edit_category',id=category.id) }}>{{ category.name }}</a>
                    </td>
                    <td >
                        {{ category.description }}
                    </td>
                    <td>
                        <ul >
                            <a href={{ url_for('edit_category',id=category.id) }} >  edit</a>

                            <a href={{ url_for('delete_category',id=category.id) }} onclick="return(confirm('确定删除？'))">delete</a>
                        </ul>
                    </td>
                </tr>
            {% endfor %}

            </tbody>
        </table>
    </div>
    <div >
        <ul>
            {% if not keyword %}
                {% if category.items %}
                    <li><a href="{{ url_for('list_category',page=1) }}">&#8249;&#8249;</a></li>
                    {% for page in category.iter_pages(left_edge=2, left_current=category.pages, right_current=category.pages, right_edge=2) %}
                        {% if page == category.page %}
                            <li><a href="{{ url_for('list_category',page=page) }}">{{ page }} of  {{ category.pages }}</a></li>
                        {% else %}

                            <li><a href="{{ url_for('list_category',page=page) }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="{{ url_for('list_category',page=category.pages) }}">&#8250;&#8250;</a></li>
                {% endif %}
            {% else %}
                {% if category.items %}
                    <li><a href="{{ url_for('search_category',page=1,keyword=keyword) }}">&#8249;&#8249;</a></li>
                    {% for page in category.iter_pages(left_edge=2, left_current=category.pages, right_current=category.pages, right_edge=2) %}
                        {% if page == category.page %}
                            <li><a  href="{{ url_for('search_category',page=page,keyword=keyword) }}">{{ page }} of  {{ category.pages }}</a></li>
                        {% else %}

                            <li><a href="{{ url_for('search_category',page=page,keyword=keyword) }}">{{ page }}</a></li>
                        {% endif %}
                    {% endfor %}
                    <li><a href="{{ url_for('search_category',page=category.pages,keyword=keyword) }}">&#8250;&#8250;</a></li>
                {% endif %}
            {% endif %}

        </ul>
    </div>

{% endblock %}